[submodule "Goblin_Engine/vendor/spdlog"]
	path = Goblin_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	
[submodule "Goblin_Engine/vendor/glfw"]
	path = Goblin_Engine/vendor/glfw
	url = https://github.com/ttvtempest17/glfw
[submodule "Goblin_Engine/vendor/imgui"]
	path = Goblin_Engine/vendor/imgui
	url = https://github.com/ttvtempest17/imgui
